.items {
    display: flex;
    width: 800px;
    margin: 0 auto;
}

.items:nth-child(even) {
    flex-direction: row-reverse;
}

/* .item {
    width: 180px;
} */

.pic {
    width: 150px;
    height: 100px;
    /* margin: 0 auto; */
    /* display: block; */
}

.item h1 {
    text-align: center;
    margin-top: 0;
}