body {
    background-color: #C0C0C0
}
#midashi {
    text-align: center;
    margin-top: 150px;
    border-bottom: solid 4px white;
  }
#test {
    text-align: center;
    margin-top: 0;
}


form {
    text-align: center;
    margin-top: 0;
}
p {
    text-align: center;
    margin-top: 50px;
}

